# Python
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.tmp
.pytest_cache/
.mypy_cache/
.tox/
build/
dist/

# IDEs
.DS_Store
.~*
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.venv
venv/
ENV/
env/
